/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



$navbar-bg: #6A338B;
$navbar-fg: #300212;
$body-bg: #FAF2FF;

